html{
    font-family: "Open Sans", sans-serif;
}
body{
    background-color: rgb(168, 200, 228);
}
/*
.klase1{
    background-color: black;
}
.klase2{
    background-color: blue;
}
#containerDiv{
    width: 100px;
}
*/